
<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .container2{
        width: 60%;
        padding: 10px;
        margin: 0 auto;
        border: 1px solid #333;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .bg{
        width: 100%;
        height: 240px;
        background-size: 100% 100%;
    }
    .profile-picture{
        width: 220px;
        height: 220px;
        border-radius: 50%;
        position: relative;
        top: -110px;
        margin-bottom: -10%;
        background-size: 100% 100%;
    }
    .user-info{
        width: 58%;
        padding: 10px;
        text-align: left;
        box-shadow: 0 2px 10px rgba(203, 196, 196, 0.986);
        margin-bottom: 5%;
    }
    .user-info span{
        font-size: 22px;
        padding: 5px;
        display: block;
    }
    .social{
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 5%;
        box-shadow: 0 2px 10px rgba(203, 196, 196, 0.986);
      
    }
    .social h3{
        text-align: center;
        border-bottom: 1px solid rgb(186,180,180);
        padding: 10px;
        margin-bottom: 2%;
        color:orangered;
        font-size: 22px;
    }
    .social span{
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        padding: 1px;
    }
    .social span i{
        color: orangered;
       
    }
    .flash{
        width: 100%;
        height: 60px;
        padding: 15px;
        padding-left: 30px;
        color: white;
        background-color: #333;
        font-size: 25px;
        text-align: center;
    }
    .flash span{
        width: 40px;
        height: 35px;
        color: white;
        font-size: 25px;
        float: right;
        cursor: pointer;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


    <div class="flash">
       There is {{length}} result found
        <span>x</span>
    </div>
{% for user in users%}
{% if user %}
<div class="container2">
    <div class="bg" style="background-image:url('../static/uploads/{{user.background_picture}}')"></div>
    <div class="profile-picture" style="background-image: url('../static/uploads/{{user.profile_picture}}');"></div>
    
    <div class="user-info">
    <form action="{{url_for('demande_job')}}" method="POST">
        <input type="hidden" name="id" value="{{user.id}}">
        <span><b>Name</b> : {{user.name}}</span>
        <span><b>Email</b> : {{user.email}}</span>
        <span><b>Phone</b> : {{user.phone}}</span>
        <span><b>Profession</b> : {{user.profession}}</span>
        <span><b>Adress</b> : {{user.adress}}</span>
        <button  type="submit" class="btn btn-dark m-2">Send demande for Job</button>
    </form>
    </div>

    <div class="social">
        <h3>{{user.name}} Social media Accounts</h3>
        <span>
            <i class="fa-brands fa-square-whatsapp"></i>
            41092085
        </span>
        <span>
            <i class="fa-brands fa-facebook"></i>
            zidbih hdaya
        </span>
        <span>
            <i class="fa-brands fa-twitter"></i>
            @zidbih_hdaya
        </span>
    </div>
</div>
{%endif%}
{%endfor%}
<script src="{{url_for('static',filename='js/main.js')}}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>