{% extends 'base.html' %}

{%block body%}
    {% with messages=get_flashed_messages()%}
        {% if messages%}
            {% for message in messages%}
            <div class="flash">{{message}}
                <span>x</span>
            </div>
            {%endfor%}
        {%endif%}
    {%endwith%}
    <div class="big-container">
    <div class="logo"><span>Find</span><span>Job</span></div>
        <div class="container">
            <form action="{{url_for('signup')}}" method="POST" id="signup">
                <div class="logo-signup">
                </div>
                <div class="group">
                    <span><i class="fa-solid fa-envelope" style="color:rgb(220,220,7)"></i></span>
                    <input type="email" name="email" id="email" placeholder="Enter Your Email" required autocomplete="off">
                    <span><i class="fa-solid fa-lock" style="color:rgb(220,220,7)"></i></span>
                    <input type="password" name="password" id="password" placeholder="Enter Your Password" minlength="8" required autocomplete="off">
                    <div class="eyes">
                        <span class="eye1"><i class="fa-solid fa-eye"></i></span>
                        <span class="eye2"><i class="fa-solid fa-eye-slash"></i></span>
                    </div>
                </div>
                <p class="login-account">have an account?<a href="{{url_for('login')}}">Login here</a></p>
                <div class="group">
                    <input type="submit" value="sign up">
                
                <p class="or"><span>OR</span></p>
                    <input type="submit" value="continue with google">
                </div>
            </form>
        </div>
        <div class="footer">
            tous les droit sont reserves
            <span> &copy Copyrite 2023</span>
            ,realiser par zidbih hmoud
        </div>
    </div>
{% endblock body%}